@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
img{
  height: 70px;
}
h1{
   color: #32164b;
}
p{
   color: #32164b;
}

ul{
  list-style: none;
}

.letter{
   margin-top: 1vh;
   margin: 2vw;
}
nav a {
  color: #32164b;
  text-decoration: none;
}


@media screen and (max-width: 767.9px) {

  li {
    width: 100vw;
    height: 10vh;
    background-color: red ;
    margin-top: 1vh;
  }

  li a {
    color: blue ;
    font-size:4rem;
    text-align: center;
  }

  nav{
    float: left;
  }

  img{
    height: 60px;
  }

 .letter{
   display: none;
 }
}

@media screen and (min-width: 768px) {
  nav  a{
    color: #32164b;
  }

  li a:hover{
    color : grey;
  }

  img{
    margin-left: 2px;
    margin-top: 2px;
  }

  li {
    float: left;
    padding: 1vh 1vw;
    font-size: 2rem;
  }

  nav {
    position: absolute;
    top: 2vh;
    left: 55vw;
  }

}
